#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.photograph-header h1 {
  margin-right: 20px;
  margin-bottom: 5px;
  color: #d3573c;
  font-size: 50px;
  font-weight: 400;
}

.photograph-header .location {
  color: #901c1c;
  margin-bottom: 15px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/* contact modal form */

#contact_modal {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 100;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 0;
}

.modal .modal-header {
  height: 100%;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 90px;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 30px;
}

form textarea {
  width: 100%;
  border-radius: 5px;
  font-size: 30px;
}

/* sorting button */

.sorting-block,
.sorting-block.open {
  margin-top: 10px;
  display: flex;
  margin-left: 100px;
  align-items: baseline;
  z-index: 99;
  position: relative;
}

.sort-by-button {
  position: relative;
  cursor: pointer;
}

.sorting-block.open .dropdown-options {
  display: flex;
  flex-direction: column;
}

.dropdown-options {
  display: none;
  position: absolute;
  top: 50px;
  background-color: #901c1c;
  width: 170px;
  border-radius: 0 0 5px 5px;
}

.dropdown-options a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 18px;
  padding: 10px 0;
  font-weight: 700;
}

.child-line {
  width: 150px;
}

.sorting-block .arrow-up {
  display: none;
}

.sorting-block.open .arrow-up {
  display: inline-block;
}

.sorting-block.open .arrow-down {
  display: none;
}

.sorting-block p {
  font-weight: 700;
  font-size: 18px;
  margin-right: 25px;
}

.sorting-block .sort-by-button,
.sorting-block.open .sort-by-button {
  display: flex;
  flex-direction: column;
  background-color: #901c1c;
  border-radius: 5px;
}

.dropdown-button {
  border: unset;
  background-color: unset;
  color: white;
  padding: unset;
  height: 55px;
  width: 170px;
  text-align: start;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  cursor: pointer;
}

.dropdown-button-text {
  margin-left: 20px;
}

.fa-solid {
  margin-right: 20px;
}

/* media list */

.medias-list {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photographer-media {
  margin: 0 50px;
}

.media-card img,
.media-card video {
  height: 300px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
  z-index: 70;
  position: relative;
}

.media-info {
  display: flex;
  justify-content: space-between;
}

.like-number,
.media-title,
.like-icon {
  margin-block-start: 10px;
  margin-block-end: 30px;
  font-size: 17px;
  color: #901c1c;
}

.media-like {
  display: flex;
}

.like-number {
  font-weight: 500;
}

.button-like {
  border: unset;
  background-color: unset;
}

.button-like .fa-solid {
  margin-right: unset;
}
é .like-icon {
  margin-left: 6px;
  cursor: pointer;
}

/* likes total and price div */

.likes-total-and-price {
  position: fixed;
  display: flex;
  z-index: 90;
  bottom: 0;
  right: 30px;
  width: 370px;
  height: 60px;
  background-color: #db8876;
  border-radius: 5px 5px 0 0;
  align-items: center;
  justify-content: space-around;
  font-size: 19px;
  font-weight: 500;
}

.total-like {
  display: flex;
  align-items: center;
}

.like-totalnumber {
  margin-right: 6px;
}
